.chevron-down-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    --svg-chevron-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -8 24 24'%3E%3Cpath fill='%23000' d='m7.071 5.314l4.95-4.95a1 1 0 1 1 1.414 1.414L7.778 7.435a1 1 0 0 1-1.414 0L.707 1.778A1 1 0 1 1 2.121.364z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-chevron-down);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-chevron-down);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}


.keyboard-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    --svg-keyboard: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 56'%3E%3Cpath fill='%23000' d='M6.196 44.09h43.628c4.104 0 6.176-2.051 6.176-6.097V19.031c0-4.065-2.072-6.117-6.176-6.117H6.196C2.072 12.914 0 14.966 0 19.03v18.963c0 4.064 2.072 6.097 6.196 6.097m.06-3.176c-1.974 0-3.08-1.046-3.08-3.098V19.208c0-2.052 1.106-3.117 3.08-3.117h43.509c1.953 0 3.058 1.065 3.058 3.117v18.608c0 2.052-1.105 3.098-3.058 3.098Zm40.056-17.246h1.4c.573 0 .83-.257.83-.829v-1.4c0-.553-.257-.83-.83-.83h-1.4c-.572 0-.83.277-.83.83v1.4c0 .572.258.829.83.829m-6.354 0h1.4c.573 0 .85-.257.85-.829v-1.4c0-.553-.277-.83-.85-.83h-1.4q-.83 0-.83.83v1.4c0 .572.277.829.83.829m-6.354 0h1.42c.553 0 .83-.257.83-.829v-1.4q0-.83-.83-.83h-1.42q-.83 0-.829.83v1.4c0 .572.276.829.829.829m-6.334 0h1.401c.572 0 .829-.257.829-.829v-1.4c0-.553-.257-.83-.829-.83H27.27c-.572 0-.829.277-.829.83v1.4c0 .572.257.829.829.829m-6.354 0h1.42c.553 0 .83-.257.83-.829v-1.4q0-.83-.83-.83h-1.42q-.828 0-.829.83v1.4c0 .572.277.829.83.829m-6.354 0h1.421c.553 0 .829-.257.829-.829v-1.4q0-.83-.829-.83h-1.42q-.83 0-.83.83v1.4c0 .572.277.829.83.829m-6.334 0h1.4c.573 0 .83-.257.83-.829v-1.4c0-.553-.257-.83-.83-.83h-1.4c-.573 0-.83.277-.83.83v1.4c0 .572.257.829.83.829m12.688 6.354h1.42q.83 0 .83-.83v-1.4c0-.572-.277-.829-.83-.829h-1.42c-.552 0-.829.257-.829.829v1.4q0 .83.83.83m6.354 0h1.401c.572 0 .829-.277.829-.83v-1.4c0-.572-.257-.829-.829-.829H27.27c-.572 0-.829.257-.829.829v1.4c0 .553.257.83.829.83m6.334 0h1.42q.83 0 .83-.83v-1.4c0-.572-.277-.829-.83-.829h-1.42c-.553 0-.829.257-.829.829v1.4q0 .83.829.83m6.354 0h1.4c.573 0 .85-.277.85-.83v-1.4c0-.572-.277-.829-.85-.829h-1.4c-.553 0-.83.257-.83.829v1.4q0 .83.83.83m-25.396 0h1.421q.83 0 .829-.83v-1.4c0-.572-.276-.829-.829-.829h-1.42c-.553 0-.83.257-.83.829v1.4q0 .83.83.83m31.75 0h1.4c.573 0 .83-.277.83-.83v-1.4c0-.572-.257-.829-.83-.829h-1.4c-.572 0-.83.257-.83.829v1.4c0 .553.258.83.83.83m-38.084 0H9.63c.573 0 .83-.277.83-.83v-1.4c0-.572-.257-.829-.83-.829h-1.4c-.573 0-.83.257-.83.829v1.4c0 .553.257.83.83.83m6.334 6.353H41.36c.572 0 .849-.276.849-.828v-1.421c0-.552-.277-.829-.85-.829H14.563q-.828 0-.828.829v1.42q0 .83.828.83m31.75 0h1.4c.573 0 .83-.276.83-.828v-1.421c0-.552-.257-.829-.83-.829h-1.4c-.572 0-.83.277-.83.829v1.42c0 .553.258.83.83.83m-38.084 0H9.63c.573 0 .83-.276.83-.828v-1.421c0-.552-.257-.829-.83-.829h-1.4c-.573 0-.83.277-.83.829v1.42c0 .553.257.83.83.83'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-keyboard);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-keyboard);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}


.accessibility-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    --svg-accessibility: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 6q-.825 0-1.412-.587T10 4t.588-1.412T12 2t1.413.588T14 4t-.587 1.413T12 6M9 22V9H3V7h18v2h-6v13h-2v-6h-2v6z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg-accessibility);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var(--svg-accessibility);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.youtube-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    --svg-youtube: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cg clip-path='url(%23akarIconsYoutubeFill0)'%3E%3Cpath fill='%23000' d='M23.5 6.507a2.8 2.8 0 0 0-.766-1.27a3.05 3.05 0 0 0-1.338-.742C19.518 4 11.994 4 11.994 4a77 77 0 0 0-9.39.47a3.16 3.16 0 0 0-1.338.76c-.37.356-.638.795-.778 1.276A29 29 0 0 0 0 12c-.012 1.841.151 3.68.488 5.494c.137.479.404.916.775 1.269s.833.608 1.341.743c1.903.494 9.39.494 9.39.494a77 77 0 0 0 9.402-.47a3.05 3.05 0 0 0 1.338-.742a2.8 2.8 0 0 0 .765-1.27A28.4 28.4 0 0 0 24 12.023a26.6 26.6 0 0 0-.5-5.517M9.602 15.424V8.577l6.26 3.424z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='akarIconsYoutubeFill0'%3E%3Cpath fill='%23fff' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
    background-color: red;
    -webkit-mask-image: var( --svg-youtube);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: var( --svg-youtube);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}
